h1{
    font-size: 5em;
    color:purple;
    border: bottom 1px solid;
    }
    p{
        color:rgb(255, 65, 103);
        border: dashed rgb(205, 205, 252);
        box-align: center;
        background-color: rgb(0, 128, 128);
    }
    ul{
        background-color: rgb(125, 14, 14);
      }