  
  body {
    width: 80em;
    margin: 0 auto;
  }
  
  /* Typography */
  
  h1 {
    font-size: 4em;
    background-color: purple;
  }
  

  h4{
    font-size: 2.5em;
    color: rgb(255, 65, 103);
    border-bottom:dashed rgb(205, 205, 252);
  }
  
  p, li {
    font-size: 2.1em;
  }
  
  /*+++ more specific section styles +++*/
  
  /* header and footer */
  
  header, footer {
    background-color:purple;
    height: 10em;
    padding: 2em;
  }
  
  h1, footer p {
    margin: 0px;
  }
  
  h1 {
    text-align: center;
    padding: 0.5em 0;
  }
  
  
  /* main content */
  
  main {
    padding: 2em;
  }
  
  main p, main li {
    line-height: 2;
  }
  



  div.zentai{
    display: flex;          /* フレックスボックスにする */
    flex-direction: row;    /* 横向きに表示（column に変更すると縦向きに表示） */
  
    width:"100%";
    border: 1px solid gray;
    padding: 5px 5px 5px 0;
    text-align: center;
  }
  div.l{
    flex: 2;                /* 横幅2で表示 */
  
      background-color: rgb(118, 163, 231);
      margin-left: 5px;
  }
