h1{
    font-size: 5em;
    color:purple;
    border: bottom 1px solid;
    }
    p{
        color:rgb(10, 10, 10);
        border: dashed rgb(205, 205, 252);
        box-align: center;
    }
    ul{
        background-color: rgb(251, 250, 250);
      }